# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit
.streamlit/
*.pdf

# Project specific
temp_reports/
*.db
